.container
  .row
    .col-2
      = button_to "Turn #{@renderer.leds_on ? 'Off' : 'On' }", toggle_renderer_path, class: "btn btn-primary"
    .col-6
      = form_for @renderer, :url => renderer_path do |f|
        = f.select :pattern_id, options_for_select(@patterns.collect { |pattern| [pattern.name, pattern.id] }, @renderer.pattern.id), {}, {class: :"form-control", :onchange => "this.form.submit()"}
        
